@charset "UTF-8";

/* corres para o site 
#020301 
#2F1A09
#593702
#882204
#67570B

sombras 
#E68F05
#A66703
#593802
#664002
#402801  */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
        /* cores */
      
        --cor0: #020301;
        --cor1: #2F1A09;
        --cor2: #593702;
        --cor3: #882204; 
        --cor4: #67570B;
    
        /* fontes */
        
        --fonte-padrao: Verdana, Arial, Helvetica, sans-serif;
}


* {
    margin: 0px;
    padding: 0px; 
 }

 body {
    background-color: lightgray;
    font-family: var(--fonte-padrao);
}

header {
     height: 130px;
     background-color: var(--cor0);    
     position: relative; 
     padding-top: 15px;
    
    }

header h1 {
    
    font-size: 1em;
    color: white;
    padding: 6px;
    padding-right: 12px;
}


nav {
    margin-top: 0px;
}


nav a {
    color: var(--cor2);
    padding: 0px 5px 0px 5px;
    font-size: 1.0em;
    text-decoration: none;
    border-radius: 8px;
    margin: 3px;
    font-weight: normal;
    font-style: normal;
    
}

nav a:hover {
    background-color: #020301;  
    color: #a38b14;
}


main {
    background-color: white;
    height: 800px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 2px 0px black;
    margin: auto;
    margin-top: 10px;
    
}

footer {
    background-color: black;  
   text-align: center;
   padding: 8px;
   font-size: 0.9em;
   margin: 0px;
}

footer p {
     color: white;
     font-size: 1em;
}

